*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


header{
    background-color: #2F2F2F;
    padding: 1.5rem;
    color: aliceblue;
}
body{
    background-color: #2F2F2F;
    height: 100vh;
}
h1{
    color: aliceblue;
    font-size: 3rem;
}
.container-menu{
    width: 40%;
    height: 100%;
    margin: auto;
    padding-bottom: 13rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container-btn-principales{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 5.5rem;
}
.container-btn-principales a{
    background-color: #4CAF50;     
    color: white;               
    border: none;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}
.container-btn-principales a:hover{
    background-color: #45a049;  
}




/* Alta */

.container-form{
    background-color: #CED4DA;
    width: 45rem;
    border-radius: 1rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-form h1{
    color: #2F2F2F;
    margin-bottom: 2rem;
}
.container-inputs-alta{
    display: flex;
    margin: auto;
    gap: 3rem;
    margin-top: 1rem;
    color:  #2F2F2F;
}

.form-alta label{
    margin-right: 0.5rem;
}
.form-alta input[type="submit"]{
    width: 10rem;
    margin-top: 3rem;
    padding: 0.5rem;
    background-color: #343A40;  
    color: #ffffff;            
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.container-btn-enviar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


/* Mostrar Mascotas */

.container-mostra-amos{
    display: flex;
    height: 80vh;
}

.seleccion{
    background-color: #CED4DA;
    width: 45%;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    box-sizing: content-box;
}

.seleccion select{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

.seleccion input[type = "submit"]{
    background-color: #3498db;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.tabla-datos-amos{
    background-color: #45a049;
    width: 100%  
}
.container-datos{
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
}


.registros{
    
    background-color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.registros , .encabezado{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.registros p , .encabezado p{
flex: 1; /* o podés usar flex-basis: 150px */
  text-align: center;
}

.tabla-datos-amos{
    padding: 1rem;
}




.container-inputs-baja{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 1.5rem;
}

.container-inputs-baja input[type="submit"]{
    margin: 0;
}



.container-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    gap: 3rem;
}

.tabla{
    width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

    thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



.form-modificar input[type = "submit"]{

    margin: 0;
    
}

.container-error{
    display: flex;
    flex-direction: column;
}

.mensajeError{
    font-size: 13px;
    color: red;
}

.container-input{
    display: flex;
}

.inputForm{
    max-width: 10rem;
}